.chores {
    color: #ff4f33;
}

.message {
    text-transform: uppercase;
    color: red;
    font-family: sans-serif;
    font-weight: 800;
}

.doneChores {
    color: #3c79b8;
}

h3 {
    text-align: center;
}

img {
    max-width: 15%;
    height: auto;
    display: block;
    margin: auto;
}